workflows/research-agent-v6.0.27.json
{"updatedAt":"2026-06-23T08:29:56.611Z","createdAt":"2026-06-20T08:54:52.539Z","id":"VGVepaHqmjg2PXSj","name":"Research Agent v6.0.27","description":"Sprint 12: better UX, channel support, error feedback","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"research-agent","responseMode":"responseNode","options":{}},"id":"webhook_trigger_001","name":"webhook_yt_research","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[208,1008],"webhookId":"research-agent"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/process_url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Telegram-User-Id","value":"={{$json.user_id}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({url: $json.url, write_audio: true, newton_fetch: false, max_comments: 30})}}","options":{"timeout":600000}},"id":"http_subs","name":"HTTP /process_url","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,480]},{"parameters":{"url":"http://host.docker.internal:8080/user_profile","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Parse Command v6.0.27').first().json.user_id }}"}]},"options":{"timeout":10000}},"id":"http_profile","name":"HTTP /user_profile","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,480]},{"parameters":{"jsCode":"// v6.0.21: read from /process_url (universal)\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nlet url = parse.url;\nif (parse.cmd === 'channel') {\n  try {\n    const latest = $('Code — Fetch latest from channel').first().json;\n    if (latest && !latest.skip) {\n      url = latest.full_url;\n    }\n  } catch (e) {}\n}\nconst subs = $('HTTP /process_url').first().json;\nconst prof = $('HTTP /user_profile').first().json.profile || {};\nreturn [{json: {\n  chat_id: parse.chat_id,\n  user_id: parse.user_id,\n  message_id: parse.message_id,\n  text: subs.text ? subs.text.slice(0, 8000) : '',\n  system: '',\n  user_profile: prof,\n  timeline: subs.timeline || [],\n  meta: subs.meta || {},\n  // for /comments_analyze:\n  comments: subs.comments || [],\n  // for digest:\n  video_id: subs.video_id || '',\n  platform: subs.platform || 'unknown',\n  method: subs.method || 'unknown',\n  // for ack feedback:\n  title: subs.title || 'video',\n  duration: subs.duration || 0,\n  char_count: subs.char_count || 0,\n  // body for downstream:\n  body: parse\n}}];"},"id":"code_build","name":"Code — Build YandexGPT payload","type":"n8n-nodes-base.code","typeVersion":1,"position":[2000,480]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/yagpt_summarize","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { text: $json.text, system: $json.system, user_profile: $json.user_profile, timeline: $json.timeline || [], model: 'yandexgpt-lite', max_tokens: 2000, temperature: 0.3 } }}","options":{"timeout":60000}},"id":"http_yagpt","name":"HTTP /yagpt_summarize (chunking внутри)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,576],"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// v6.0.21: build digest (universal) + comments analysis\nconst yagpt = $('HTTP /yagpt_summarize (chunking внутри)').first().json;\nconst parsed = yagpt.parsed || {};\n// v6.0.21: subs from /process_url (universal)\nlet subs = null;\ntry { subs = $('HTTP /process_url').first().json; } catch (e) {}\n// v6.0.21: comments analysis\nlet commentsAnalysis = null;\ntry { commentsAnalysis = $('HTTP /comments_analyze').first().json; } catch (e) {}\n// v6.0.21: build can be either YandexGPT payload (fetch) or media YandexGPT payload (media)\nlet build = null;\ntry { build = $('Code — Build YandexGPT payload').first().json; } catch (e) {}\nif (!build) {\n  try { build = $('Code — Build media YandexGPT payload').first().json; } catch (e) {}\n}\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nconst url = (parse && parse.url) || (build && build.url) || 'https://example.com';\nconst videoId = (subs && subs.video_id) || (build && build.meta && build.meta.video_id) || '';\nreturn [{json: {\n  url: url,\n  video_id: videoId,\n  title: (build && build.meta && build.meta.title) || (subs && subs.title) || (subs && subs.meta && subs.meta.title) || 'Media transcription',\n  summary: parsed.summary || [],\n  actions: parsed.actions || [],\n  // v6.0.21: drop claims_yagpt\n  // claims_yagpt: parsed.claims || [],\n  claims: (subs && subs.claims) || [],\n  comments: (subs && subs.comments) || [],\n  // v6.0.21: add comments analysis results\n  comments_summary: (commentsAnalysis && commentsAnalysis.comments_summary) || [],\n  top_valuable: (commentsAnalysis && commentsAnalysis.top_valuable) || [],\n  meta: (subs && subs.meta) || (build && build.meta) || {},\n  chat_id: (build && build.chat_id) || (parse && parse.chat_id) || 0,\n  user_id: (build && build.user_id) || (parse && parse.user_id) || 0,\n  relevance: parsed.relevance || 'on_topic'\n}}];"},"id":"code_digest","name":"Code — Build Digest","type":"n8n-nodes-base.code","typeVersion":1,"position":[2672,576]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/render_digest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Build Digest').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { title: $(\"Code — Build Digest\").first().json.title, summary: $(\"Code — Build Digest\").first().json.summary, actions: $(\"Code — Build Digest\").first().json.actions, claims: $(\"Code — Build Digest\").first().json.claims, comments: $(\"Code — Build Digest\").first().json.comments, meta: $(\"Code — Build Digest\").first().json.meta, video_id: $(\"Code — Build Digest\").first().json.video_id, comments_summary: $(\"Code — Build Digest\").first().json.comments_summary, top_valuable: $(\"Code — Build Digest\").first().json.top_valuable } }}","options":{"timeout":15000}},"id":"http_render","name":"HTTP /render_digest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,480]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kb_save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Build Digest').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { kind: 'youtube_video', url: $('Code — Build Digest').first().json.url, title: $('Code — Build Digest').first().json.title, external_id: $('Code — Build Digest').first().json.video_id, claims: $('Code — Build Digest').first().json.claims, summary: $('Code — Build Digest').first().json.summary, actions: $('Code — Build Digest').first().json.actions, meta: $('Code — Build Digest').first().json.meta, user_id: $('Code — Build Digest').first().json.user_id } }}","options":{"timeout":15000}},"id":"http_kb","name":"HTTP /kb_save","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,912]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_document","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Parse Command v6.0.27').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { file_path: $('HTTP /render_digest').first().json.file_path, chat_id: $('Code — Parse Command v6.0.27').first().json.chat_id, caption: 'Дайджест: ' + $('Code — Build Digest').first().json.title } }}","options":{"timeout":30000}},"id":"http_send_doc","name":"HTTP /send_document","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,480]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Build YandexGPT payload').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { chat_id: $('Code — Build YandexGPT payload').first().json.chat_id, text: 'TL;DR готов. Дайджест отправлен выше.' } }}","options":{"timeout":15000}},"id":"http_send_msg","name":"HTTP /send_message (TL;DR)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,480]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Build YandexGPT payload').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { chat_id: $('Code — Build YandexGPT payload').first().json.chat_id, text: 'Ошибка: не удалось обработать видео. Попробуй позже.', message_id: $('Code — Build YandexGPT payload').first().json.message_id } }}","options":{"timeout":15000}},"id":"http_error_msg","name":"HTTP /send_message (error)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,2568]},{"parameters":{"jsCode":"// v6.0.27: deduped → silent respond\nconst _deduped = items[0] && items[0].json && items[0].json.deduped;\nif (_deduped) {\n  return [{json: {chat_id: '261540559', text: '', silent: true, message_id: 0}}];\n}\n// v6.0.26: актуальное меню + inline buttons\nconst parse = $('Code — Parse Command v6.0.27').first().json || items[0].json || {};\nlet text = '';\nlet buttons = null;\nif (parse.cmd === 'help' || parse.cmd === 'start') {\n  text = `🤖 Research Agent v6.0.26\n\n📹 Поддерживаю ссылки:\n• YouTube (youtu.be/, /watch, /shorts, /live)\n• Rutube\n• VK (видео + клипы)\n• Kinescope\n• Vimeo, PeerTube, Dzen, VKPlay, Smotrim\n• Подкасты (Apple, Google, SoundCloud)\n• Аудио/фото/видео в чате → транскрибирую\n\n⚙️ Что делаю с ссылкой:\n1. Скачиваю субтитры (или Newton transcribe)\n2. Саммари + action items через YandexGPT\n3. Топ-комментарии (YouTube/Rutube)\n4. Сохраняю в личную базу знаний\n5. Возвращаю HTML-документ + TL;DR\n\n💰 ~1₽/дайджест, бюджет 200₽/день\n\n🎛 Дополнительно (кнопки ниже):\n• 📊 Статистика — счётчики\n• 🕐 Последние — 5 дайджестов\n• ⏳ Pending — невыполненные actions\n• 🎙 Аудио — MP3 голосом Бурунова\n• 📖 Справка — подробнее`;\n  buttons = {\n    inline_keyboard: [\n      [\n        {text: '📊 Статистика', callback_data: 'stats'},\n        {text: '🕐 Последние', callback_data: 'recent'},\n      ],\n      [\n        {text: '⏳ Pending', callback_data: 'pending'},\n        {text: '🎙 Аудио', callback_data: 'audio_last'},\n      ],\n      [\n        {text: '📖 Справка', callback_data: 'help_docs'},\n        {text: '✖ Закрыть', callback_data: 'close_menu'},\n      ],\n    ]\n  };\n} else if (parse.cmd === 'invalid') {\n  text = '❌ ' + (parse.error_msg || 'Не понимаю эту ссылку.') + '\\n\\nПришли ссылку или нажми /help для меню.';\n  buttons = {inline_keyboard: [[{text: '📖 Справка', callback_data: 'help_docs'}, {text: '✖ Закрыть', callback_data: 'close_menu'}]]};\n} else {\n  text = '🤔 Не понял. Пришли ссылку или /help.';\n  buttons = {inline_keyboard: [[{text: '📖 Справка', callback_data: 'help_docs'}, {text: '✖ Закрыть', callback_data: 'close_menu'}]]};\n}\nconst out = [];\nfor (const it of (items.length ? items : [{json:{}}])) {\n  out.push({json: {\n    chat_id: parse.chat_id || it.json.chat_id || '261540559',\n    text: text,\n    message_id: parse.message_id || it.json.message_id,\n    reply_markup: buttons ? JSON.stringify(buttons) : null,\n  }});\n}\nreturn out;"},"name":"Code — Build help/error msg","type":"n8n-nodes-base.code","typeVersion":1,"position":[3120,1296],"id":"code_help"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, text: $json.text || \"(empty)\", parse_mode: \"Markdown\", ...($json.reply_markup && $json.reply_markup !== \"null\" && $json.text ? {reply_markup: $json.reply_markup} : {})})}}","options":{"timeout":15000}},"name":"HTTP /send_message (help)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,1296],"id":"http_help"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/youtube_channel_latest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ url: $json.url }) }}","options":{"timeout":40000}},"name":"HTTP /youtube_channel_latest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,288],"id":"code_branch"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.user_msg }) }}","options":{"timeout":15000}},"name":"HTTP /send_message (channel notice)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,288],"id":"http_channel_notice"},{"parameters":{"jsCode":"// v6.0.18: take channel_latest response and set url + user_msg\nconst r = $('HTTP /youtube_channel_latest').first().json;\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nlet url = '';\nlet user_msg = '';\nif (r.ok && r.url) {\n  url = r.url;\n  user_msg = '🎬 Беру последнее видео с канала: ' + url + (r.title ? '\\n\\n' + r.title : '');\n} else {\n  user_msg = '❌ Не нашёл видео на канале: ' + (r.error || 'unknown error');\n}\nreturn [{json: {\n  url: url,\n  user_msg: user_msg,\n  chat_id: parse.chat_id,\n  message_id: parse.message_id\n}}];"},"name":"Code — Use channel result","type":"n8n-nodes-base.code","typeVersion":1,"position":[1328,288],"id":"code_use_channel"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// v6.0.18: only pass through if url is set\nif (!items[0].json.url) {\n  return [];\n}\nreturn items;"},"name":"Code — Skip if no url","type":"n8n-nodes-base.code","typeVersion":1,"position":[208,64],"id":"code_skip"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({status: 'processed'}) }}","options":{}},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3568,1664],"id":"respond_webhook"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/telegram_download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ file_id: $('Code — Parse Command v6.0.27').first().json.media.file_id }) }}","options":{"timeout":120000}},"name":"HTTP /telegram_download","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1032],"id":"http_dl_v19"},{"parameters":{"jsCode":"// v6.0.19: build 'processing media' message\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nconst m = parse.media;\nif (!m) return [{json: {chat_id: 0, text: 'no media'}}];\nconst dur = m.duration ? ` (${m.duration} сек)` : '';\nconst size_kb = m.file_size ? `, ${Math.round(m.file_size/1024)} KB` : '';\nconst kind_ru = {voice: 'голосовое', audio: 'аудио', video: 'видео', video_note: 'видео-кружочек'}[m.kind] || 'файл';\nreturn [{json: {\n  chat_id: parse.chat_id,\n  text: '🎙 Обрабатываю ' + kind_ru + dur + size_kb + ' через Newton...'\n}}];"},"name":"Code — Build media notice","type":"n8n-nodes-base.code","typeVersion":1,"position":[1104,1032],"id":"code_media_notice"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text }) }}","options":{"timeout":15000}},"name":"HTTP /send_message (media notice)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,1032],"id":"http_media_notice"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/transcribe","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ file: $('HTTP /telegram_download').first().json.file_path, engine: 'v3' }) }}","options":{"timeout":300000}},"name":"HTTP /transcribe","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,912],"id":"http_transcribe"},{"parameters":{"jsCode":"// v6.0.19: build YandexGPT payload from media transcription\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nconst subs = $('HTTP /transcribe').first().json;\nconst text = subs.text || '';\nif (!text.trim()) {\n  return [{json: {\n    chat_id: parse.chat_id,\n    user_id: parse.user_id,\n    message_id: parse.message_id,\n    cmd: 'media_empty',\n    error: 'Newton вернул пустой текст. Возможно, в аудио нет речи.',\n    user_profile: {},  // fallback empty profile\n    text: '',\n    system: '',\n    timeline: [],\n    meta: {\n      source: 'media_' + (parse.media ? parse.media.kind : 'unknown'),\n      file_size: parse.media ? parse.media.file_size : 0,\n      duration: parse.media ? parse.media.duration : 0\n    }\n  }}];\n}\n// Don't use HTTP /user_profile - we can use a default profile from Parse\n// v6.0.19: minimal profile from /user_profile will be merged later\nreturn [{json: {\n  chat_id: parse.chat_id,\n  user_id: parse.user_id,\n  message_id: parse.message_id,\n  cmd: 'media',\n  text: text.slice(0, 8000),\n  system: '',\n  user_profile: {name: parse.user_id, context: 'media transcription'},  // placeholder\n  timeline: [],\n  meta: {\n    source: 'media_' + (parse.media ? parse.media.kind : 'unknown'),\n    file_size: parse.media ? parse.media.file_size : 0,\n    duration: parse.media ? parse.media.duration : 0\n  }\n}}];"},"name":"Code — Build media YandexGPT payload","type":"n8n-nodes-base.code","typeVersion":1,"position":[2000,912],"id":"code_media_yagpt"},{"parameters":{"jsCode":"// v6.0.19: notify user that media was empty\nconst r = $('Code — Build media YandexGPT payload').first().json;\nreturn [{json: {\n  chat_id: r.chat_id,\n  text: '❌ ' + (r.error || 'Не удалось обработать файл')\n}}];"},"name":"Code — Media empty handler","type":"n8n-nodes-base.code","typeVersion":1,"position":[3120,1104],"id":"code_media_empty"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text }) }}","options":{"timeout":15000}},"name":"HTTP /send_message (media empty)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,1104],"id":"http_media_empty"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"combinator":"or","conditions":[{"id":"c1","leftValue":"={{ $json.cmd }}","rightValue":"media_empty","operator":{"type":"string","operation":"equals"}},{"id":"c2","leftValue":"={{ !$json.text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}}]},"options":{}},"name":"IF media_empty","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,1032],"id":"if_media_empty_v19"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/comments_analyze","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({comments: $(\"HTTP /process_url\").first().json.comments || [], user_profile: $(\"Code — Build YandexGPT payload\").first().json.user_profile || {}, max_valuable: 5, max_summary: 3})}}","options":{"timeout":60000}},"id":"http-comments-analyze","name":"HTTP /comments_analyze","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,576]},{"parameters":{"jsCode":"// v6.0.21 FINAL: ack only if _route=fetch\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const route = j._route || '';\n  if (route === 'fetch') {\n    out.push({ json: { ...j, ack_text: j.ack_text || 'Понял, обрабатываю ссылку...', ack_skipped: false } });\n  }\n}\nreturn out;"},"id":"ack-build-001","name":"Code — Build ack msg v6.0.21","type":"n8n-nodes-base.code","typeVersion":1,"position":[1104,672]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, text: $json.ack_text})}}","options":{"timeout":10000}},"id":"ack-send-001","name":"HTTP /send_message (ack)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,672]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json.url}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-ack-001","name":"IF needs_ack","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,648]},{"parameters":{"jsCode":"// v6.0.24: pass through with body merged + write_audio=true for non-YT\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const pc = $('Code — Parse Command v6.0.27').first().json || {};\n  const url = j.url || pc.url || '';\n  // For non-YouTube platforms, enable write_audio (Newton fallback)\n  const isYT = /youtu\\.?be/.test(url) || /youtube\\.com/.test(url);\n  const write_audio = !isYT;\n  out.push({ json: {\n    user_id: j.user_id || pc.user_id || '261540559',\n    chat_id: j.chat_id || pc.chat_id || '261540559',\n    message_id: j.message_id || pc.message_id || null,\n    cmd: 'fetch',\n    url: url,\n    text: j.text || pc.raw || '',\n    media: null,\n    write_audio: write_audio,\n    newton_fetch: false,\n    body: { message: { text: url, chat: { id: parseInt(j.chat_id || pc.chat_id || '261540559') } } }\n  } });\n}\nreturn out;"},"id":"code-pass-001","name":"Code — Pass through v6.0.21","type":"n8n-nodes-base.code","typeVersion":1,"position":[1328,840]},{"parameters":{"method":"POST","url":"={{$json.url}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify($json.body)}}","options":{"timeout":30000}},"id":"http-handle-callback","name":"HTTP /handle_callback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,2184]},{"parameters":{"jsCode":"// v6.0.23: close menu (deleteMessage)\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const chat_id = j.chat_id || '261540559';\n  const message_id = j.message_id || 0;\n  out.push({ json: {\n    user_id: j.user_id || '261540559',\n    chat_id: chat_id,\n    message_id: message_id,\n    body: { chat_id: chat_id, message_id: message_id }\n  } });\n}\nreturn out;"},"id":"code-close-menu","name":"Code — Close menu v6.0.21","type":"n8n-nodes-base.code","typeVersion":1,"position":[3344,2376]},{"parameters":{"jsCode":"// v6.0.26: build callback payload + set _action for SWITCH\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const cb_data = j.callback_data || '';\n  const user_id = j.user_id || '261540559';\n  const chat_id = j.chat_id || '261540559';\n  const message_id = j.message_id || null;\n\n  let _action = 'fallback';\n  if (cb_data === 'stats') _action = 'stats';\n  else if (cb_data === 'recent') _action = 'recent';\n  else if (cb_data === 'pending') _action = 'pending';\n  else if (cb_data === 'audio_last') _action = 'audio_last';\n  else if (cb_data === 'close_menu') _action = 'close_menu';\n  else if (cb_data.startsWith('help_')) _action = 'help_topic';\n\n  const url = 'http://host.docker.internal:8080/handle_callback';\n  const body = {\n    callback_query: {\n      id: j.callback_id || '',\n      data: cb_data,\n      from: { id: user_id },\n      message: { message_id: message_id, chat: { id: chat_id } }\n    }\n  };\n  out.push({ json: {\n    url,\n    body,\n    cb_data,\n    _action,\n    user_id: String(user_id),\n    chat_id: String(chat_id),\n    message_id,\n    action: _action\n  } });\n}\nreturn out;"},"id":"code-build-callback","name":"Code — Build callback payload v6.0.21","type":"n8n-nodes-base.code","typeVersion":1,"position":[2448,1920]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"fetch","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"fetch"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"channel","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"channel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"media","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"media"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"callback","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"callback"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"help","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"help"}]},"options":{"fallbackOutput":"extra"}},"id":"switch-route","name":"SWITCH — Route by _route v6.0.21","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[656,944]},{"parameters":{"url":"={{ 'http://host.docker.internal:8080/user_stats?user_id=' + $json.user_id }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"http-user-stats-cb","name":"HTTP /user_stats (callback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,1464]},{"parameters":{"url":"={{ 'http://host.docker.internal:8080/digests_recent?user_id=' + $json.user_id + '&limit=5' }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"http-digests-recent-cb","name":"HTTP /digests_recent (callback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,1656]},{"parameters":{"url":"={{ 'http://host.docker.internal:8080/actions_recent?user_id=' + $json.user_id + '&limit=10' }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"http-actions-recent-cb","name":"HTTP /actions_recent (callback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,1848]},{"parameters":{"jsCode":"// v6.0.26: topic-specific help\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const cb_data = (j.cb_data || '').replace('help_', '');\n  const chat_id = j.chat_id || '261540559';\n  let text = '';\n  const topics = {\n    docs: '📖 *Подробная справка*\\n\\nБот работает с 14+ платформами.\\n\\n*Что умею:*\\n• Ссылка → дайджест за 30-90 сек\\n• YouTube: сабы/транскрибация + комментарии\\n• Rutube/VK: Newton transcribe (gigaAM v3)\\n• Kinescope: custom oembed + m3u8\\n• Аудио в чате → транскрибация\\n• Личная база знаний (SQLite)\\n• Action items привязаны к портфелю\\n\\n*Лимиты:*\\n• 200₽/день на YandexGPT\\n• ~1₽/дайджест\\n• 1 видео за раз',\n    youtube: '📹 *YouTube*\\n\\n• Отправь https://youtu.be/ID\\n• Авто-сабы → иначе Newton transcribe\\n• Топ-30 комментариев + Invidious/Piped fallback\\n• Каналы: @username → последнее видео',\n    rutube: '📹 *Rutube*\\n\\n• Отправь https://rutube.ru/video/ID\\n• Встроенные сабы, иначе Newton transcribe (gigaAM v3)\\n• Комментарии через официальный API',\n    vk: '📹 *VK*\\n\\n• Отправь https://vk.com/video-OWNER_ID_VIDEO_ID\\n• Сабы часто CDN-блокируют → Newton transcribe\\n• Комментарии: 0 без токена (fallback на описание)',\n    kinescope: '📹 *Kinescope*\\n\\n• Отправь https://kinescope.io/ID (UUID или numeric)\\n• Нет поддержки yt-dlp → oembed + m3u8',\n    media: '🎤 *Медиа-файлы*\\n\\n• Отправь .mp3, .wav, .ogg, .m4a, голосовое\\n• Newton transcribe (v3 — русский, parakeet — мульти)',\n    channel: '📺 *Каналы*\\n\\n• YouTube: @username → последнее видео (10 шт)',\n    comments: '💬 *Комментарии*\\n\\n• YouTube: yt-dlp + 4 Invidious + 3 Piped\\n• Rutube: API\\n• VK: 0 (нужен service_token)',\n    audio: '🎙 *Аудио-дайджест*\\n\\nMP3 голосом Бурунова (Newton TTS). Нажми \"🎙 Аудио\" в меню — озвучу последний дайджест. 20-40 сек, бесплатно.',\n  };\n  text = topics[cb_data] || topics.docs;\n  out.push({json: {chat_id, text, parse_mode: 'Markdown'}});\n}\nreturn out;"},"id":"code-help-topic","name":"Code — Build help topic v6.0.23","type":"n8n-nodes-base.code","typeVersion":1,"position":[3120,1992]},{"parameters":{"jsCode":"// v6.0.23: format callback result — read _action from Build callback payload\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  // Get action from Build callback payload which has _action\n  const ctx = $('Code — Build callback payload v6.0.21').first().json || {};\n  const action = ctx._action || '';\n  const user_id = ctx.user_id || '261540559';\n  const chat_id = ctx.chat_id || '261540559';\n  let text = '';\n  if (action === 'stats') {\n    const s = (j.stats || {});\n    text = '📊 Статистика (user_id=' + user_id + '):\\n\\n' +\n           '📚 Дайджестов: ' + (s.digests_count || 0) + '\\n' +\n           '🎯 Actions: ' + (s.actions_count || 0) + ' (pending: ' + (s.pending_actions || 0) + ')\\n' +\n           '📝 Символов: ' + (s.total_chars || 0);\n  } else if (action === 'recent') {\n    const ds = (j.digests || []);\n    if (!ds.length) {\n      text = '🕐 Пока нет дайджестов.';\n    } else {\n      text = '🕐 Последние ' + ds.length + ' дайджестов:\\n\\n';\n      for (let i = 0; i < ds.length; i++) {\n        const d = ds[i];\n        text += (i+1) + '. [' + d.id + '] ' + (d.title || d.url || '—').slice(0, 60) + '\\n   ' + d.created_at + '\\n';\n      }\n    }\n  } else if (action === 'pending') {\n    const ac = (j.actions || []);\n    if (!ac.length) {\n      text = '🎯 Все actions закрыты! 🎉';\n    } else {\n      text = '🎯 Pending actions (' + ac.length + '):\\n\\n';\n      for (let i = 0; i < Math.min(10, ac.length); i++) {\n        const a = ac[i];\n        text += (i+1) + '. [' + a.id + '] ' + (a.text || '—').slice(0, 80) + '\\n';\n      }\n    }\n  }\n  out.push({ json: {\n    user_id: user_id,\n    chat_id: chat_id,\n    formatted_text: text || '...'\n  } });\n}\nreturn out;"},"id":"code-format-cb-result","name":"Code — Format callback result v6.0.23","type":"n8n-nodes-base.code","typeVersion":1,"position":[3120,1632]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, text: $json.formatted_text})}}","options":{"timeout":10000}},"id":"http-send-cb-result-v6-0-23-final","name":"HTTP /send_message (callback result)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,1632]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, text: $json.help_text})}}","options":{"timeout":10000}},"id":"http-send-help-topic-v6-0-23-final","name":"HTTP /send_message (help topic)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,1992]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"stats","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"stats"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"recent","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recent"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"pending","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pending"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"close_menu","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"close_menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"help_topic","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"help_topic"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"audio_last","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio_last"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"fallback"}},"id":"switch-route-callback","name":"SWITCH — Route callback v6.0.23","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2672,1856]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/audio_digest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Telegram-User-Id","value":"261540559"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({text: $json.audio_text, voice: 'burunov', digest_id: $json.digest_id})}}","options":{"timeout":180000}},"id":"http-audio-digest","name":"HTTP /audio_digest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,500]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// v6.0.26: prep for last digest lookup\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  out.push({json: {user_id: j.user_id || '261540559', chat_id: j.chat_id || '261540559', message_id: j.message_id || 0}});\n}\nreturn out;"},"id":"code-find-last-digest","name":"Code — Find last digest v6.0.26","type":"n8n-nodes-base.code","typeVersion":1,"position":[1100,700]},{"parameters":{"method":"GET","url":"=http://host.docker.internal:8080/digests_recent?user_id={{$json.user_id}}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"}]},"options":{"timeout":30000}},"id":"http-get-last-digest","name":"HTTP /digests_recent (last)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,700]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// v6.0.26: build audio from last\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const digests = j.digests || [];\n  if (!digests.length) {\n    out.push({json: {audio_text: '', title: 'Нет дайджестов', digest_id: 'empty', chat_id: j.chat_id || '261540559', empty: true}});\n    continue;\n  }\n  const d = digests[0];\n  const title = d.title || 'Дайджест';\n  const summary = d.summary || [];\n  const lines = ['Краткий обзор: ' + title, ''];\n  for (let i = 0; i < Math.min(5, summary.length); i++) {\n    lines.push((i+1) + '. ' + (typeof summary[i] === 'string' ? summary[i] : (summary[i].text || '')).substring(0, 600));\n  }\n  out.push({json: {audio_text: lines.join('\\n').substring(0, 4500), digest_id: d.digest_id || 'd_last', title, chat_id: j.chat_id || '261540559', empty: false}});\n}\nreturn out;"},"id":"code-build-audio-last","name":"Code — Build audio from last v6.0.26","type":"n8n-nodes-base.code","typeVersion":1,"position":[1500,700]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/audio_digest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Telegram-User-Id","value":"261540559"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({text: $json.audio_text, voice: 'burunov', digest_id: $json.digest_id})}}","options":{"timeout":180000}},"id":"http-audio-digest-last","name":"HTTP /audio_digest (last)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,700]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_audio","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Telegram-User-Id","value":"261540559"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, file_path: $json.file_path, caption: '🎙 ' + $json.title, title: $json.title, performer: 'Newton TTS'})}}","options":{"timeout":120000}},"id":"http-send-audio-last","name":"HTTP /send_audio (last)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,700]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// v6.0.27: dedupe via HTTP /seen_update + parse cmd\nconst _inItems = $input.all();\nconst _out = [];\nfor (const _it of _inItems) {\n  const _itjson = _it.json || {};\n  const _body = _itjson.body || _itjson;\n  const _msg = _body.message || _body.edited_message || {};\n  const _cb = _body.callback_query || null;\n  const _update_id = _body.update_id || 0;\n  let _deduped = false;\n  if (_update_id) {\n    try {\n      const _r = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'http://host.docker.internal:8080/seen_update',\n        headers: {'Content-Type': 'application/json', 'X-Telegram-User-Id': '261540559'},\n        body: {update_id: _update_id},\n        timeout: 5000,\n        returnFullResponse: false,\n      });\n      if (_r && _r.seen === true) {\n        _deduped = true;\n      }\n    } catch (e) {\n      // fail open\n    }\n  }\n  if (_deduped) {\n    _out.push({json: {deduped: true, update_id: _update_id, cmd: 'duplicate', _route: 'help'}});\n    continue;\n  }\n  const user_id = (_cb && _cb.from && _cb.from.id) || (_msg.from && _msg.from.id) || 0;\n  const chat_id = _cb ? (_cb.message && _cb.message.chat && _cb.message.chat.id) : (_msg.chat ? _msg.chat.id : null);\n  const message_id = _cb ? (_cb.message && _cb.message.message_id) : _msg.message_id;\n  const text = (_msg.text || _msg.caption || '').trim();\n  let cmd = 'help', url = '', error_msg = '', _route = 'help';\n  let media = null;\n  let callback_id = null;\n  let callback_data = null;\n  let ack_text = '';\n  if (_cb) {\n    callback_id = _cb.id;\n    callback_data = _cb.data;\n  }\n  if (_msg.voice) {\n    media = {file_id: _msg.voice.file_id, mime: _msg.voice.mime_type || 'audio/ogg', kind: 'voice', file_name: 'voice.ogg', file_size: _msg.voice.file_size || 0, duration: _msg.voice.duration || 0};\n  } else if (_msg.audio) {\n    media = {file_id: _msg.audio.file_id, mime: _msg.audio.mime_type || 'audio/mpeg', kind: 'audio', file_name: _msg.audio.file_name || 'audio.mp3', file_size: _msg.audio.file_size || 0, duration: _msg.audio.duration || 0};\n  } else if (_msg.video) {\n    media = {file_id: _msg.video.file_id, mime: _msg.video.mime_type || 'video/mp4', kind: 'video', file_name: _msg.video.file_name || 'video.mp4', file_size: _msg.video.file_size || 0, duration: _msg.video.duration || 0};\n  } else if (_msg.video_note) {\n    media = {file_id: _msg.video_note.file_id, mime: 'video/mp4', kind: 'video_note', file_name: 'video_note.mp4', file_size: _msg.video_note.file_size || 0, duration: _msg.video_note.duration || 0};\n  } else if (_msg.document) {\n    const mime = _msg.document.mime_type || '';\n    if (mime.startsWith('audio/') || mime.startsWith('video/')) {\n      media = {file_id: _msg.document.file_id, mime: mime, kind: mime.startsWith('audio/') ? 'audio' : 'video', file_name: _msg.document.file_name || 'media', file_size: _msg.document.file_size || 0, duration: 0};\n    }\n  }\n  if (_cb) {\n    cmd = 'callback';\n    _route = 'callback';\n  } else if (media) {\n    cmd = 'media';\n    _route = 'media';\n  } else if (text === '/stats' || text.startsWith('/stats@') || text === '/stats ') {\n    cmd = 'stats_text';\n    _route = 'callback';\n    callback_data = 'stats';\n  } else if (text === '/recent' || text.startsWith('/recent@') || text === '/recent ') {\n    cmd = 'recent_text';\n    _route = 'callback';\n    callback_data = 'recent';\n  } else if (text === '/pending' || text.startsWith('/pending@') || text === '/pending ') {\n    cmd = 'pending_text';\n    _route = 'callback';\n    callback_data = 'pending';\n  } else if (text === '/audio' || text.startsWith('/audio@') || text === '/audio ') {\n    cmd = 'audio_text';\n    _route = 'callback';\n    callback_data = 'audio_last';\n  } else if (text.startsWith('/help') || text.startsWith('/start') || text === '/help' || text === '/start') {\n    cmd = 'help';\n    _route = 'help';\n  } else if (text) {\n    const tokens = text.split(/\\s+/);\n    for (const tok of tokens) {\n      let m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?youtu\\.be\\/([0-9A-Za-z_-]{11})/);\n      if (m) { url = tok; cmd = 'fetch'; _route = 'fetch'; break; }\n      m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?youtube\\.com\\/(?:watch\\?v=|shorts\\/|embed\\/|v\\/)([0-9A-Za-z_-]{11})/);\n      if (m) { url = tok; cmd = 'fetch'; _route = 'fetch'; break; }\n      m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?rutube\\.ru\\/(?:video|play\\/embed)\\/([0-9a-f]{32})/i);\n      if (m) { url = tok; cmd = 'fetch'; _route = 'fetch'; break; }\n      m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?vk(?:video)?\\.(?:com|ru|net)\\/(?:video|clip|wall)-(-?\\d+_\\d+)/i);\n      if (m) { url = tok; cmd = 'fetch'; _route = 'fetch'; break; }\n      m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?youtube\\.com\\/(?:@[^\\/?#\\s]+|channel\\/[A-Za-z0-9_-]+|c\\/[A-Za-z0-9_-]+|user\\/[A-Za-z0-9_-]+)\\/?$/);\n      if (m) { url = tok; cmd = 'channel'; _route = 'channel'; break; }\n    }\n    if (cmd === 'help' && text.startsWith('http')) {\n      cmd = 'invalid';\n      _route = 'help';\n      error_msg = 'Эта ссылка не поддерживается. Пришли ссылку на YouTube/Rutube/VK видео.';\n    }\n  }\n  if (_route === 'fetch' && url) {\n    if (/youtu\\.be|youtube\\.com/.test(url)) ack_text = 'Понял, обрабатываю YouTube видео...';\n    else if (/rutube/.test(url)) ack_text = 'Понял, обрабатываю Rutube видео...';\n    else if (/vk/.test(url)) ack_text = 'Понял, обрабатываю VK видео... Это может занять 5-7 минут (транскрибация)...';\n    else ack_text = 'Понял, обрабатываю ссылку...';\n  }\n  _out.push({json: {user_id, chat_id, message_id, cmd, url, media, error_msg, raw: text, callback_id, callback_data, _route, ack_text}});\n}\nreturn _out;\n"},"id":"code_parse_cmd_v6_0_27_seen_update","name":"Code — Parse Command v6.0.27","type":"n8n-nodes-base.code","typeVersion":1,"position":[-200,200]}],"connections":{"webhook_yt_research":{"main":[[{"node":"Code — Parse Command v6.0.27","type":"main","index":0}]]},"SWITCH — Route by _route v6.0.21":{"main":[[{"node":"Code — Build ack msg v6.0.21","type":"main","index":0}],[{"node":"HTTP /youtube_channel_latest","type":"main","index":0}],[{"node":"HTTP /telegram_download","type":"main","index":0}],[{"node":"Code — Build callback payload v6.0.21","type":"main","index":0}],[{"node":"Code — Build help/error msg","type":"main","index":0}]]},"Code — Build ack msg v6.0.21":{"main":[[{"node":"IF needs_ack","type":"main","index":0},{"node":"Code — Pass through v6.0.21","type":"main","index":0}]]},"IF needs_ack":{"main":[[{"node":"HTTP /send_message (ack)","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /send_message (ack)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Pass through v6.0.21":{"main":[[{"node":"HTTP /process_url","type":"main","index":0}]]},"HTTP /process_url":{"main":[[{"node":"HTTP /user_profile","type":"main","index":0}]]},"HTTP /user_profile":{"main":[[{"node":"Code — Build YandexGPT payload","type":"main","index":0}]]},"Code — Build YandexGPT payload":{"main":[[{"node":"HTTP /yagpt_summarize (chunking внутри)","type":"main","index":0}]]},"HTTP /yagpt_summarize (chunking внутри)":{"main":[[{"node":"HTTP /comments_analyze","type":"main","index":0}]]},"HTTP /comments_analyze":{"main":[[{"node":"Code — Build Digest","type":"main","index":0}]]},"Code — Build Digest":{"main":[[{"node":"HTTP /render_digest","type":"main","index":0}],[{"node":"HTTP /kb_save","type":"main","index":0}]]},"HTTP /render_digest":{"main":[[{"node":"HTTP /send_document","type":"main","index":0}]]},"HTTP /kb_save":{"main":[[{"node":"HTTP /send_message (TL;DR)","type":"main","index":0}]]},"HTTP /send_document":{"main":[[{"node":"HTTP /send_message (TL;DR)","type":"main","index":0}]]},"HTTP /send_message (TL;DR)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /youtube_channel_latest":{"main":[[{"node":"Code — Use channel result","type":"main","index":0}]]},"Code — Use channel result":{"main":[[{"node":"HTTP /process_url","type":"main","index":0}],[{"node":"HTTP /send_message (channel notice)","type":"main","index":0}]]},"HTTP /send_message (channel notice)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /telegram_download":{"main":[[{"node":"Code — Build media notice","type":"main","index":0}]]},"Code — Build media notice":{"main":[[{"node":"HTTP /send_message (media notice)","type":"main","index":0}]]},"HTTP /send_message (media notice)":{"main":[[{"node":"IF media_empty","type":"main","index":0}]]},"IF media_empty":{"main":[[{"node":"HTTP /transcribe","type":"main","index":0}],[{"node":"Code — Media empty handler","type":"main","index":0}]]},"HTTP /transcribe":{"main":[[{"node":"Code — Build media YandexGPT payload","type":"main","index":0}]]},"Code — Build media YandexGPT payload":{"main":[[{"node":"HTTP /yagpt_summarize (chunking внутри)","type":"main","index":0}]]},"Code — Media empty handler":{"main":[[{"node":"HTTP /send_message (media empty)","type":"main","index":0}]]},"HTTP /send_message (media empty)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Build callback payload v6.0.21":{"main":[[{"node":"SWITCH — Route callback v6.0.23","type":"main","index":0}]]},"HTTP /handle_callback":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Build help/error msg":{"main":[[{"node":"HTTP /send_message (help)","type":"main","index":0}]]},"HTTP /send_message (help)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /send_message (error)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Build help topic v6.0.23":{"main":[[{"node":"HTTP /send_message (help topic)","type":"main","index":0}]]},"HTTP /user_stats (callback)":{"main":[[{"node":"Code — Format callback result v6.0.23","type":"main","index":0}]]},"HTTP /digests_recent (callback)":{"main":[[{"node":"Code — Format callback result v6.0.23","type":"main","index":0}]]},"HTTP /actions_recent (callback)":{"main":[[{"node":"Code — Format callback result v6.0.23","type":"main","index":0}]]},"Code — Format callback result v6.0.23":{"main":[[{"node":"HTTP /send_message (callback result)","type":"main","index":0}]]},"HTTP /send_message (callback result)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /send_message (help topic)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Close menu v6.0.21":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"SWITCH — Route callback v6.0.23":{"main":[[{"node":"HTTP /user_stats (callback)","type":"main","index":0}],[{"node":"HTTP /digests_recent (callback)","type":"main","index":0}],[{"node":"HTTP /actions_recent (callback)","type":"main","index":0}],[{"node":"Code — Close menu v6.0.21","type":"main","index":0}],[{"node":"Code — Build help topic v6.0.23","type":"main","index":0}],[{"node":"Code — Find last digest v6.0.26","type":"main","index":0}]]},"Code — Build Digest v6.0.21":{},"Code — Find last digest v6.0.26":{"main":[[{"node":"HTTP /digests_recent (last)","type":"main","index":0}]]},"HTTP /digests_recent (last)":{"main":[[{"node":"Code — Build audio from last v6.0.26","type":"main","index":0}]]},"Code — Build audio from last v6.0.26":{"main":[[{"node":"HTTP /audio_digest (last)","type":"main","index":0}]]},"HTTP /audio_digest (last)":{"main":[[{"node":"HTTP /send_audio (last)","type":"main","index":0}]]},"HTTP /send_audio (last)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Parse Command v6.0.27":{"main":[[{"node":"SWITCH — Route by _route v6.0.21","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner"},"staticData":{"global":{"seen_updates":{"104910003":1782202917,"104910004":1782203171,"104910005":1782203211}}},"meta":null,"pinData":{},"versionId":"932bc6e2-c432-471b-a5f3-3e18f12c4266","activeVersionId":"932bc6e2-c432-471b-a5f3-3e18f12c4266","versionCounter":586,"triggerCount":1,"shared":[{"updatedAt":"2026-06-20T08:54:52.539Z","createdAt":"2026-06-20T08:54:52.539Z","role":"workflow:owner","workflowId":"VGVepaHqmjg2PXSj","projectId":"Wz9k51qtT76NzEjN","project":{"updatedAt":"2026-05-26T13:31:08.934Z","createdAt":"2026-05-26T13:30:39.191Z","id":"Wz9k51qtT76NzEjN","name":"Admin Admin <swzhukov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0b8df60b-b605-4e5b-86ea-cd1a34ecd73d"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-23T08:29:56.617Z","createdAt":"2026-06-23T08:29:56.617Z","versionId":"932bc6e2-c432-471b-a5f3-3e18f12c4266","workflowId":"VGVepaHqmjg2PXSj","nodes":[{"parameters":{"httpMethod":"POST","path":"research-agent","responseMode":"responseNode","options":{}},"id":"webhook_trigger_001","name":"webhook_yt_research","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[208,1008],"webhookId":"research-agent"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/process_url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Telegram-User-Id","value":"={{$json.user_id}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({url: $json.url, write_audio: true, newton_fetch: false, max_comments: 30})}}","options":{"timeout":600000}},"id":"http_subs","name":"HTTP /process_url","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,480]},{"parameters":{"url":"http://host.docker.internal:8080/user_profile","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Parse Command v6.0.27').first().json.user_id }}"}]},"options":{"timeout":10000}},"id":"http_profile","name":"HTTP /user_profile","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,480]},{"parameters":{"jsCode":"// v6.0.21: read from /process_url (universal)\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nlet url = parse.url;\nif (parse.cmd === 'channel') {\n  try {\n    const latest = $('Code — Fetch latest from channel').first().json;\n    if (latest && !latest.skip) {\n      url = latest.full_url;\n    }\n  } catch (e) {}\n}\nconst subs = $('HTTP /process_url').first().json;\nconst prof = $('HTTP /user_profile').first().json.profile || {};\nreturn [{json: {\n  chat_id: parse.chat_id,\n  user_id: parse.user_id,\n  message_id: parse.message_id,\n  text: subs.text ? subs.text.slice(0, 8000) : '',\n  system: '',\n  user_profile: prof,\n  timeline: subs.timeline || [],\n  meta: subs.meta || {},\n  // for /comments_analyze:\n  comments: subs.comments || [],\n  // for digest:\n  video_id: subs.video_id || '',\n  platform: subs.platform || 'unknown',\n  method: subs.method || 'unknown',\n  // for ack feedback:\n  title: subs.title || 'video',\n  duration: subs.duration || 0,\n  char_count: subs.char_count || 0,\n  // body for downstream:\n  body: parse\n}}];"},"id":"code_build","name":"Code — Build YandexGPT payload","type":"n8n-nodes-base.code","typeVersion":1,"position":[2000,480]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/yagpt_summarize","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { text: $json.text, system: $json.system, user_profile: $json.user_profile, timeline: $json.timeline || [], model: 'yandexgpt-lite', max_tokens: 2000, temperature: 0.3 } }}","options":{"timeout":60000}},"id":"http_yagpt","name":"HTTP /yagpt_summarize (chunking внутри)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,576],"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// v6.0.21: build digest (universal) + comments analysis\nconst yagpt = $('HTTP /yagpt_summarize (chunking внутри)').first().json;\nconst parsed = yagpt.parsed || {};\n// v6.0.21: subs from /process_url (universal)\nlet subs = null;\ntry { subs = $('HTTP /process_url').first().json; } catch (e) {}\n// v6.0.21: comments analysis\nlet commentsAnalysis = null;\ntry { commentsAnalysis = $('HTTP /comments_analyze').first().json; } catch (e) {}\n// v6.0.21: build can be either YandexGPT payload (fetch) or media YandexGPT payload (media)\nlet build = null;\ntry { build = $('Code — Build YandexGPT payload').first().json; } catch (e) {}\nif (!build) {\n  try { build = $('Code — Build media YandexGPT payload').first().json; } catch (e) {}\n}\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nconst url = (parse && parse.url) || (build && build.url) || 'https://example.com';\nconst videoId = (subs && subs.video_id) || (build && build.meta && build.meta.video_id) || '';\nreturn [{json: {\n  url: url,\n  video_id: videoId,\n  title: (build && build.meta && build.meta.title) || (subs && subs.title) || (subs && subs.meta && subs.meta.title) || 'Media transcription',\n  summary: parsed.summary || [],\n  actions: parsed.actions || [],\n  // v6.0.21: drop claims_yagpt\n  // claims_yagpt: parsed.claims || [],\n  claims: (subs && subs.claims) || [],\n  comments: (subs && subs.comments) || [],\n  // v6.0.21: add comments analysis results\n  comments_summary: (commentsAnalysis && commentsAnalysis.comments_summary) || [],\n  top_valuable: (commentsAnalysis && commentsAnalysis.top_valuable) || [],\n  meta: (subs && subs.meta) || (build && build.meta) || {},\n  chat_id: (build && build.chat_id) || (parse && parse.chat_id) || 0,\n  user_id: (build && build.user_id) || (parse && parse.user_id) || 0,\n  relevance: parsed.relevance || 'on_topic'\n}}];"},"id":"code_digest","name":"Code — Build Digest","type":"n8n-nodes-base.code","typeVersion":1,"position":[2672,576]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/render_digest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Build Digest').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { title: $(\"Code — Build Digest\").first().json.title, summary: $(\"Code — Build Digest\").first().json.summary, actions: $(\"Code — Build Digest\").first().json.actions, claims: $(\"Code — Build Digest\").first().json.claims, comments: $(\"Code — Build Digest\").first().json.comments, meta: $(\"Code — Build Digest\").first().json.meta, video_id: $(\"Code — Build Digest\").first().json.video_id, comments_summary: $(\"Code — Build Digest\").first().json.comments_summary, top_valuable: $(\"Code — Build Digest\").first().json.top_valuable } }}","options":{"timeout":15000}},"id":"http_render","name":"HTTP /render_digest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,480]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kb_save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Build Digest').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { kind: 'youtube_video', url: $('Code — Build Digest').first().json.url, title: $('Code — Build Digest').first().json.title, external_id: $('Code — Build Digest').first().json.video_id, claims: $('Code — Build Digest').first().json.claims, summary: $('Code — Build Digest').first().json.summary, actions: $('Code — Build Digest').first().json.actions, meta: $('Code — Build Digest').first().json.meta, user_id: $('Code — Build Digest').first().json.user_id } }}","options":{"timeout":15000}},"id":"http_kb","name":"HTTP /kb_save","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,912]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_document","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Parse Command v6.0.27').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { file_path: $('HTTP /render_digest').first().json.file_path, chat_id: $('Code — Parse Command v6.0.27').first().json.chat_id, caption: 'Дайджест: ' + $('Code — Build Digest').first().json.title } }}","options":{"timeout":30000}},"id":"http_send_doc","name":"HTTP /send_document","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,480]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Build YandexGPT payload').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { chat_id: $('Code — Build YandexGPT payload').first().json.chat_id, text: 'TL;DR готов. Дайджест отправлен выше.' } }}","options":{"timeout":15000}},"id":"http_send_msg","name":"HTTP /send_message (TL;DR)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,480]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"={{ $('Code — Build YandexGPT payload').first().json.user_id }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { chat_id: $('Code — Build YandexGPT payload').first().json.chat_id, text: 'Ошибка: не удалось обработать видео. Попробуй позже.', message_id: $('Code — Build YandexGPT payload').first().json.message_id } }}","options":{"timeout":15000}},"id":"http_error_msg","name":"HTTP /send_message (error)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,2568]},{"parameters":{"jsCode":"// v6.0.27: deduped → silent respond\nconst _deduped = items[0] && items[0].json && items[0].json.deduped;\nif (_deduped) {\n  return [{json: {chat_id: '261540559', text: '', silent: true, message_id: 0}}];\n}\n// v6.0.26: актуальное меню + inline buttons\nconst parse = $('Code — Parse Command v6.0.27').first().json || items[0].json || {};\nlet text = '';\nlet buttons = null;\nif (parse.cmd === 'help' || parse.cmd === 'start') {\n  text = `🤖 Research Agent v6.0.26\n\n📹 Поддерживаю ссылки:\n• YouTube (youtu.be/, /watch, /shorts, /live)\n• Rutube\n• VK (видео + клипы)\n• Kinescope\n• Vimeo, PeerTube, Dzen, VKPlay, Smotrim\n• Подкасты (Apple, Google, SoundCloud)\n• Аудио/фото/видео в чате → транскрибирую\n\n⚙️ Что делаю с ссылкой:\n1. Скачиваю субтитры (или Newton transcribe)\n2. Саммари + action items через YandexGPT\n3. Топ-комментарии (YouTube/Rutube)\n4. Сохраняю в личную базу знаний\n5. Возвращаю HTML-документ + TL;DR\n\n💰 ~1₽/дайджест, бюджет 200₽/день\n\n🎛 Дополнительно (кнопки ниже):\n• 📊 Статистика — счётчики\n• 🕐 Последние — 5 дайджестов\n• ⏳ Pending — невыполненные actions\n• 🎙 Аудио — MP3 голосом Бурунова\n• 📖 Справка — подробнее`;\n  buttons = {\n    inline_keyboard: [\n      [\n        {text: '📊 Статистика', callback_data: 'stats'},\n        {text: '🕐 Последние', callback_data: 'recent'},\n      ],\n      [\n        {text: '⏳ Pending', callback_data: 'pending'},\n        {text: '🎙 Аудио', callback_data: 'audio_last'},\n      ],\n      [\n        {text: '📖 Справка', callback_data: 'help_docs'},\n        {text: '✖ Закрыть', callback_data: 'close_menu'},\n      ],\n    ]\n  };\n} else if (parse.cmd === 'invalid') {\n  text = '❌ ' + (parse.error_msg || 'Не понимаю эту ссылку.') + '\\n\\nПришли ссылку или нажми /help для меню.';\n  buttons = {inline_keyboard: [[{text: '📖 Справка', callback_data: 'help_docs'}, {text: '✖ Закрыть', callback_data: 'close_menu'}]]};\n} else {\n  text = '🤔 Не понял. Пришли ссылку или /help.';\n  buttons = {inline_keyboard: [[{text: '📖 Справка', callback_data: 'help_docs'}, {text: '✖ Закрыть', callback_data: 'close_menu'}]]};\n}\nconst out = [];\nfor (const it of (items.length ? items : [{json:{}}])) {\n  out.push({json: {\n    chat_id: parse.chat_id || it.json.chat_id || '261540559',\n    text: text,\n    message_id: parse.message_id || it.json.message_id,\n    reply_markup: buttons ? JSON.stringify(buttons) : null,\n  }});\n}\nreturn out;"},"name":"Code — Build help/error msg","type":"n8n-nodes-base.code","typeVersion":1,"position":[3120,1296],"id":"code_help"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, text: $json.text || \"(empty)\", parse_mode: \"Markdown\", ...($json.reply_markup && $json.reply_markup !== \"null\" && $json.text ? {reply_markup: $json.reply_markup} : {})})}}","options":{"timeout":15000}},"name":"HTTP /send_message (help)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,1296],"id":"http_help"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/youtube_channel_latest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ url: $json.url }) }}","options":{"timeout":40000}},"name":"HTTP /youtube_channel_latest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,288],"id":"code_branch"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.user_msg }) }}","options":{"timeout":15000}},"name":"HTTP /send_message (channel notice)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,288],"id":"http_channel_notice"},{"parameters":{"jsCode":"// v6.0.18: take channel_latest response and set url + user_msg\nconst r = $('HTTP /youtube_channel_latest').first().json;\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nlet url = '';\nlet user_msg = '';\nif (r.ok && r.url) {\n  url = r.url;\n  user_msg = '🎬 Беру последнее видео с канала: ' + url + (r.title ? '\\n\\n' + r.title : '');\n} else {\n  user_msg = '❌ Не нашёл видео на канале: ' + (r.error || 'unknown error');\n}\nreturn [{json: {\n  url: url,\n  user_msg: user_msg,\n  chat_id: parse.chat_id,\n  message_id: parse.message_id\n}}];"},"name":"Code — Use channel result","type":"n8n-nodes-base.code","typeVersion":1,"position":[1328,288],"id":"code_use_channel"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// v6.0.18: only pass through if url is set\nif (!items[0].json.url) {\n  return [];\n}\nreturn items;"},"name":"Code — Skip if no url","type":"n8n-nodes-base.code","typeVersion":1,"position":[208,64],"id":"code_skip"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({status: 'processed'}) }}","options":{}},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3568,1664],"id":"respond_webhook"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/telegram_download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ file_id: $('Code — Parse Command v6.0.27').first().json.media.file_id }) }}","options":{"timeout":120000}},"name":"HTTP /telegram_download","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1032],"id":"http_dl_v19"},{"parameters":{"jsCode":"// v6.0.19: build 'processing media' message\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nconst m = parse.media;\nif (!m) return [{json: {chat_id: 0, text: 'no media'}}];\nconst dur = m.duration ? ` (${m.duration} сек)` : '';\nconst size_kb = m.file_size ? `, ${Math.round(m.file_size/1024)} KB` : '';\nconst kind_ru = {voice: 'голосовое', audio: 'аудио', video: 'видео', video_note: 'видео-кружочек'}[m.kind] || 'файл';\nreturn [{json: {\n  chat_id: parse.chat_id,\n  text: '🎙 Обрабатываю ' + kind_ru + dur + size_kb + ' через Newton...'\n}}];"},"name":"Code — Build media notice","type":"n8n-nodes-base.code","typeVersion":1,"position":[1104,1032],"id":"code_media_notice"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text }) }}","options":{"timeout":15000}},"name":"HTTP /send_message (media notice)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,1032],"id":"http_media_notice"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/transcribe","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ file: $('HTTP /telegram_download').first().json.file_path, engine: 'v3' }) }}","options":{"timeout":300000}},"name":"HTTP /transcribe","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,912],"id":"http_transcribe"},{"parameters":{"jsCode":"// v6.0.19: build YandexGPT payload from media transcription\nconst parse = $('Code — Parse Command v6.0.27').first().json;\nconst subs = $('HTTP /transcribe').first().json;\nconst text = subs.text || '';\nif (!text.trim()) {\n  return [{json: {\n    chat_id: parse.chat_id,\n    user_id: parse.user_id,\n    message_id: parse.message_id,\n    cmd: 'media_empty',\n    error: 'Newton вернул пустой текст. Возможно, в аудио нет речи.',\n    user_profile: {},  // fallback empty profile\n    text: '',\n    system: '',\n    timeline: [],\n    meta: {\n      source: 'media_' + (parse.media ? parse.media.kind : 'unknown'),\n      file_size: parse.media ? parse.media.file_size : 0,\n      duration: parse.media ? parse.media.duration : 0\n    }\n  }}];\n}\n// Don't use HTTP /user_profile - we can use a default profile from Parse\n// v6.0.19: minimal profile from /user_profile will be merged later\nreturn [{json: {\n  chat_id: parse.chat_id,\n  user_id: parse.user_id,\n  message_id: parse.message_id,\n  cmd: 'media',\n  text: text.slice(0, 8000),\n  system: '',\n  user_profile: {name: parse.user_id, context: 'media transcription'},  // placeholder\n  timeline: [],\n  meta: {\n    source: 'media_' + (parse.media ? parse.media.kind : 'unknown'),\n    file_size: parse.media ? parse.media.file_size : 0,\n    duration: parse.media ? parse.media.duration : 0\n  }\n}}];"},"name":"Code — Build media YandexGPT payload","type":"n8n-nodes-base.code","typeVersion":1,"position":[2000,912],"id":"code_media_yagpt"},{"parameters":{"jsCode":"// v6.0.19: notify user that media was empty\nconst r = $('Code — Build media YandexGPT payload').first().json;\nreturn [{json: {\n  chat_id: r.chat_id,\n  text: '❌ ' + (r.error || 'Не удалось обработать файл')\n}}];"},"name":"Code — Media empty handler","type":"n8n-nodes-base.code","typeVersion":1,"position":[3120,1104],"id":"code_media_empty"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text }) }}","options":{"timeout":15000}},"name":"HTTP /send_message (media empty)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,1104],"id":"http_media_empty"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"combinator":"or","conditions":[{"id":"c1","leftValue":"={{ $json.cmd }}","rightValue":"media_empty","operator":{"type":"string","operation":"equals"}},{"id":"c2","leftValue":"={{ !$json.text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}}]},"options":{}},"name":"IF media_empty","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,1032],"id":"if_media_empty_v19"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/comments_analyze","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({comments: $(\"HTTP /process_url\").first().json.comments || [], user_profile: $(\"Code — Build YandexGPT payload\").first().json.user_profile || {}, max_valuable: 5, max_summary: 3})}}","options":{"timeout":60000}},"id":"http-comments-analyze","name":"HTTP /comments_analyze","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,576]},{"parameters":{"jsCode":"// v6.0.21 FINAL: ack only if _route=fetch\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const route = j._route || '';\n  if (route === 'fetch') {\n    out.push({ json: { ...j, ack_text: j.ack_text || 'Понял, обрабатываю ссылку...', ack_skipped: false } });\n  }\n}\nreturn out;"},"id":"ack-build-001","name":"Code — Build ack msg v6.0.21","type":"n8n-nodes-base.code","typeVersion":1,"position":[1104,672]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, text: $json.ack_text})}}","options":{"timeout":10000}},"id":"ack-send-001","name":"HTTP /send_message (ack)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,672]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json.url}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-ack-001","name":"IF needs_ack","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,648]},{"parameters":{"jsCode":"// v6.0.24: pass through with body merged + write_audio=true for non-YT\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const pc = $('Code — Parse Command v6.0.27').first().json || {};\n  const url = j.url || pc.url || '';\n  // For non-YouTube platforms, enable write_audio (Newton fallback)\n  const isYT = /youtu\\.?be/.test(url) || /youtube\\.com/.test(url);\n  const write_audio = !isYT;\n  out.push({ json: {\n    user_id: j.user_id || pc.user_id || '261540559',\n    chat_id: j.chat_id || pc.chat_id || '261540559',\n    message_id: j.message_id || pc.message_id || null,\n    cmd: 'fetch',\n    url: url,\n    text: j.text || pc.raw || '',\n    media: null,\n    write_audio: write_audio,\n    newton_fetch: false,\n    body: { message: { text: url, chat: { id: parseInt(j.chat_id || pc.chat_id || '261540559') } } }\n  } });\n}\nreturn out;"},"id":"code-pass-001","name":"Code — Pass through v6.0.21","type":"n8n-nodes-base.code","typeVersion":1,"position":[1328,840]},{"parameters":{"method":"POST","url":"={{$json.url}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify($json.body)}}","options":{"timeout":30000}},"id":"http-handle-callback","name":"HTTP /handle_callback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,2184]},{"parameters":{"jsCode":"// v6.0.23: close menu (deleteMessage)\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const chat_id = j.chat_id || '261540559';\n  const message_id = j.message_id || 0;\n  out.push({ json: {\n    user_id: j.user_id || '261540559',\n    chat_id: chat_id,\n    message_id: message_id,\n    body: { chat_id: chat_id, message_id: message_id }\n  } });\n}\nreturn out;"},"id":"code-close-menu","name":"Code — Close menu v6.0.21","type":"n8n-nodes-base.code","typeVersion":1,"position":[3344,2376]},{"parameters":{"jsCode":"// v6.0.26: build callback payload + set _action for SWITCH\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const cb_data = j.callback_data || '';\n  const user_id = j.user_id || '261540559';\n  const chat_id = j.chat_id || '261540559';\n  const message_id = j.message_id || null;\n\n  let _action = 'fallback';\n  if (cb_data === 'stats') _action = 'stats';\n  else if (cb_data === 'recent') _action = 'recent';\n  else if (cb_data === 'pending') _action = 'pending';\n  else if (cb_data === 'audio_last') _action = 'audio_last';\n  else if (cb_data === 'close_menu') _action = 'close_menu';\n  else if (cb_data.startsWith('help_')) _action = 'help_topic';\n\n  const url = 'http://host.docker.internal:8080/handle_callback';\n  const body = {\n    callback_query: {\n      id: j.callback_id || '',\n      data: cb_data,\n      from: { id: user_id },\n      message: { message_id: message_id, chat: { id: chat_id } }\n    }\n  };\n  out.push({ json: {\n    url,\n    body,\n    cb_data,\n    _action,\n    user_id: String(user_id),\n    chat_id: String(chat_id),\n    message_id,\n    action: _action\n  } });\n}\nreturn out;"},"id":"code-build-callback","name":"Code — Build callback payload v6.0.21","type":"n8n-nodes-base.code","typeVersion":1,"position":[2448,1920]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"fetch","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"fetch"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"channel","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"channel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"media","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"media"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"callback","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"callback"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._route}}","rightValue":"help","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"help"}]},"options":{"fallbackOutput":"extra"}},"id":"switch-route","name":"SWITCH — Route by _route v6.0.21","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[656,944]},{"parameters":{"url":"={{ 'http://host.docker.internal:8080/user_stats?user_id=' + $json.user_id }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"http-user-stats-cb","name":"HTTP /user_stats (callback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,1464]},{"parameters":{"url":"={{ 'http://host.docker.internal:8080/digests_recent?user_id=' + $json.user_id + '&limit=5' }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"http-digests-recent-cb","name":"HTTP /digests_recent (callback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,1656]},{"parameters":{"url":"={{ 'http://host.docker.internal:8080/actions_recent?user_id=' + $json.user_id + '&limit=10' }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"http-actions-recent-cb","name":"HTTP /actions_recent (callback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,1848]},{"parameters":{"jsCode":"// v6.0.26: topic-specific help\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const cb_data = (j.cb_data || '').replace('help_', '');\n  const chat_id = j.chat_id || '261540559';\n  let text = '';\n  const topics = {\n    docs: '📖 *Подробная справка*\\n\\nБот работает с 14+ платформами.\\n\\n*Что умею:*\\n• Ссылка → дайджест за 30-90 сек\\n• YouTube: сабы/транскрибация + комментарии\\n• Rutube/VK: Newton transcribe (gigaAM v3)\\n• Kinescope: custom oembed + m3u8\\n• Аудио в чате → транскрибация\\n• Личная база знаний (SQLite)\\n• Action items привязаны к портфелю\\n\\n*Лимиты:*\\n• 200₽/день на YandexGPT\\n• ~1₽/дайджест\\n• 1 видео за раз',\n    youtube: '📹 *YouTube*\\n\\n• Отправь https://youtu.be/ID\\n• Авто-сабы → иначе Newton transcribe\\n• Топ-30 комментариев + Invidious/Piped fallback\\n• Каналы: @username → последнее видео',\n    rutube: '📹 *Rutube*\\n\\n• Отправь https://rutube.ru/video/ID\\n• Встроенные сабы, иначе Newton transcribe (gigaAM v3)\\n• Комментарии через официальный API',\n    vk: '📹 *VK*\\n\\n• Отправь https://vk.com/video-OWNER_ID_VIDEO_ID\\n• Сабы часто CDN-блокируют → Newton transcribe\\n• Комментарии: 0 без токена (fallback на описание)',\n    kinescope: '📹 *Kinescope*\\n\\n• Отправь https://kinescope.io/ID (UUID или numeric)\\n• Нет поддержки yt-dlp → oembed + m3u8',\n    media: '🎤 *Медиа-файлы*\\n\\n• Отправь .mp3, .wav, .ogg, .m4a, голосовое\\n• Newton transcribe (v3 — русский, parakeet — мульти)',\n    channel: '📺 *Каналы*\\n\\n• YouTube: @username → последнее видео (10 шт)',\n    comments: '💬 *Комментарии*\\n\\n• YouTube: yt-dlp + 4 Invidious + 3 Piped\\n• Rutube: API\\n• VK: 0 (нужен service_token)',\n    audio: '🎙 *Аудио-дайджест*\\n\\nMP3 голосом Бурунова (Newton TTS). Нажми \"🎙 Аудио\" в меню — озвучу последний дайджест. 20-40 сек, бесплатно.',\n  };\n  text = topics[cb_data] || topics.docs;\n  out.push({json: {chat_id, text, parse_mode: 'Markdown'}});\n}\nreturn out;"},"id":"code-help-topic","name":"Code — Build help topic v6.0.23","type":"n8n-nodes-base.code","typeVersion":1,"position":[3120,1992]},{"parameters":{"jsCode":"// v6.0.23: format callback result — read _action from Build callback payload\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  // Get action from Build callback payload which has _action\n  const ctx = $('Code — Build callback payload v6.0.21').first().json || {};\n  const action = ctx._action || '';\n  const user_id = ctx.user_id || '261540559';\n  const chat_id = ctx.chat_id || '261540559';\n  let text = '';\n  if (action === 'stats') {\n    const s = (j.stats || {});\n    text = '📊 Статистика (user_id=' + user_id + '):\\n\\n' +\n           '📚 Дайджестов: ' + (s.digests_count || 0) + '\\n' +\n           '🎯 Actions: ' + (s.actions_count || 0) + ' (pending: ' + (s.pending_actions || 0) + ')\\n' +\n           '📝 Символов: ' + (s.total_chars || 0);\n  } else if (action === 'recent') {\n    const ds = (j.digests || []);\n    if (!ds.length) {\n      text = '🕐 Пока нет дайджестов.';\n    } else {\n      text = '🕐 Последние ' + ds.length + ' дайджестов:\\n\\n';\n      for (let i = 0; i < ds.length; i++) {\n        const d = ds[i];\n        text += (i+1) + '. [' + d.id + '] ' + (d.title || d.url || '—').slice(0, 60) + '\\n   ' + d.created_at + '\\n';\n      }\n    }\n  } else if (action === 'pending') {\n    const ac = (j.actions || []);\n    if (!ac.length) {\n      text = '🎯 Все actions закрыты! 🎉';\n    } else {\n      text = '🎯 Pending actions (' + ac.length + '):\\n\\n';\n      for (let i = 0; i < Math.min(10, ac.length); i++) {\n        const a = ac[i];\n        text += (i+1) + '. [' + a.id + '] ' + (a.text || '—').slice(0, 80) + '\\n';\n      }\n    }\n  }\n  out.push({ json: {\n    user_id: user_id,\n    chat_id: chat_id,\n    formatted_text: text || '...'\n  } });\n}\nreturn out;"},"id":"code-format-cb-result","name":"Code — Format callback result v6.0.23","type":"n8n-nodes-base.code","typeVersion":1,"position":[3120,1632]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, text: $json.formatted_text})}}","options":{"timeout":10000}},"id":"http-send-cb-result-v6-0-23-final","name":"HTTP /send_message (callback result)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,1632]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, text: $json.help_text})}}","options":{"timeout":10000}},"id":"http-send-help-topic-v6-0-23-final","name":"HTTP /send_message (help topic)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,1992]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"stats","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"stats"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"recent","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recent"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"pending","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pending"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"close_menu","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"close_menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"help_topic","operator":{"type":"string","operation":"equals","rightType":"value"}}],"combinator":"and"},"renameOutput":true,"outputKey":"help_topic"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json._action}}","rightValue":"audio_last","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio_last"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"fallback"}},"id":"switch-route-callback","name":"SWITCH — Route callback v6.0.23","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2672,1856]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/audio_digest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Telegram-User-Id","value":"261540559"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({text: $json.audio_text, voice: 'burunov', digest_id: $json.digest_id})}}","options":{"timeout":180000}},"id":"http-audio-digest","name":"HTTP /audio_digest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,500]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// v6.0.26: prep for last digest lookup\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  out.push({json: {user_id: j.user_id || '261540559', chat_id: j.chat_id || '261540559', message_id: j.message_id || 0}});\n}\nreturn out;"},"id":"code-find-last-digest","name":"Code — Find last digest v6.0.26","type":"n8n-nodes-base.code","typeVersion":1,"position":[1100,700]},{"parameters":{"method":"GET","url":"=http://host.docker.internal:8080/digests_recent?user_id={{$json.user_id}}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Telegram-User-Id","value":"261540559"}]},"options":{"timeout":30000}},"id":"http-get-last-digest","name":"HTTP /digests_recent (last)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,700]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// v6.0.26: build audio from last\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const digests = j.digests || [];\n  if (!digests.length) {\n    out.push({json: {audio_text: '', title: 'Нет дайджестов', digest_id: 'empty', chat_id: j.chat_id || '261540559', empty: true}});\n    continue;\n  }\n  const d = digests[0];\n  const title = d.title || 'Дайджест';\n  const summary = d.summary || [];\n  const lines = ['Краткий обзор: ' + title, ''];\n  for (let i = 0; i < Math.min(5, summary.length); i++) {\n    lines.push((i+1) + '. ' + (typeof summary[i] === 'string' ? summary[i] : (summary[i].text || '')).substring(0, 600));\n  }\n  out.push({json: {audio_text: lines.join('\\n').substring(0, 4500), digest_id: d.digest_id || 'd_last', title, chat_id: j.chat_id || '261540559', empty: false}});\n}\nreturn out;"},"id":"code-build-audio-last","name":"Code — Build audio from last v6.0.26","type":"n8n-nodes-base.code","typeVersion":1,"position":[1500,700]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/audio_digest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Telegram-User-Id","value":"261540559"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({text: $json.audio_text, voice: 'burunov', digest_id: $json.digest_id})}}","options":{"timeout":180000}},"id":"http-audio-digest-last","name":"HTTP /audio_digest (last)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,700]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/send_audio","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Telegram-User-Id","value":"261540559"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify({chat_id: $json.chat_id, file_path: $json.file_path, caption: '🎙 ' + $json.title, title: $json.title, performer: 'Newton TTS'})}}","options":{"timeout":120000}},"id":"http-send-audio-last","name":"HTTP /send_audio (last)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,700]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// v6.0.27: dedupe via HTTP /seen_update + parse cmd\nconst _inItems = $input.all();\nconst _out = [];\nfor (const _it of _inItems) {\n  const _itjson = _it.json || {};\n  const _body = _itjson.body || _itjson;\n  const _msg = _body.message || _body.edited_message || {};\n  const _cb = _body.callback_query || null;\n  const _update_id = _body.update_id || 0;\n  let _deduped = false;\n  if (_update_id) {\n    try {\n      const _r = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'http://host.docker.internal:8080/seen_update',\n        headers: {'Content-Type': 'application/json', 'X-Telegram-User-Id': '261540559'},\n        body: {update_id: _update_id},\n        timeout: 5000,\n        returnFullResponse: false,\n      });\n      if (_r && _r.seen === true) {\n        _deduped = true;\n      }\n    } catch (e) {\n      // fail open\n    }\n  }\n  if (_deduped) {\n    _out.push({json: {deduped: true, update_id: _update_id, cmd: 'duplicate', _route: 'help'}});\n    continue;\n  }\n  const user_id = (_cb && _cb.from && _cb.from.id) || (_msg.from && _msg.from.id) || 0;\n  const chat_id = _cb ? (_cb.message && _cb.message.chat && _cb.message.chat.id) : (_msg.chat ? _msg.chat.id : null);\n  const message_id = _cb ? (_cb.message && _cb.message.message_id) : _msg.message_id;\n  const text = (_msg.text || _msg.caption || '').trim();\n  let cmd = 'help', url = '', error_msg = '', _route = 'help';\n  let media = null;\n  let callback_id = null;\n  let callback_data = null;\n  let ack_text = '';\n  if (_cb) {\n    callback_id = _cb.id;\n    callback_data = _cb.data;\n  }\n  if (_msg.voice) {\n    media = {file_id: _msg.voice.file_id, mime: _msg.voice.mime_type || 'audio/ogg', kind: 'voice', file_name: 'voice.ogg', file_size: _msg.voice.file_size || 0, duration: _msg.voice.duration || 0};\n  } else if (_msg.audio) {\n    media = {file_id: _msg.audio.file_id, mime: _msg.audio.mime_type || 'audio/mpeg', kind: 'audio', file_name: _msg.audio.file_name || 'audio.mp3', file_size: _msg.audio.file_size || 0, duration: _msg.audio.duration || 0};\n  } else if (_msg.video) {\n    media = {file_id: _msg.video.file_id, mime: _msg.video.mime_type || 'video/mp4', kind: 'video', file_name: _msg.video.file_name || 'video.mp4', file_size: _msg.video.file_size || 0, duration: _msg.video.duration || 0};\n  } else if (_msg.video_note) {\n    media = {file_id: _msg.video_note.file_id, mime: 'video/mp4', kind: 'video_note', file_name: 'video_note.mp4', file_size: _msg.video_note.file_size || 0, duration: _msg.video_note.duration || 0};\n  } else if (_msg.document) {\n    const mime = _msg.document.mime_type || '';\n    if (mime.startsWith('audio/') || mime.startsWith('video/')) {\n      media = {file_id: _msg.document.file_id, mime: mime, kind: mime.startsWith('audio/') ? 'audio' : 'video', file_name: _msg.document.file_name || 'media', file_size: _msg.document.file_size || 0, duration: 0};\n    }\n  }\n  if (_cb) {\n    cmd = 'callback';\n    _route = 'callback';\n  } else if (media) {\n    cmd = 'media';\n    _route = 'media';\n  } else if (text === '/stats' || text.startsWith('/stats@') || text === '/stats ') {\n    cmd = 'stats_text';\n    _route = 'callback';\n    callback_data = 'stats';\n  } else if (text === '/recent' || text.startsWith('/recent@') || text === '/recent ') {\n    cmd = 'recent_text';\n    _route = 'callback';\n    callback_data = 'recent';\n  } else if (text === '/pending' || text.startsWith('/pending@') || text === '/pending ') {\n    cmd = 'pending_text';\n    _route = 'callback';\n    callback_data = 'pending';\n  } else if (text === '/audio' || text.startsWith('/audio@') || text === '/audio ') {\n    cmd = 'audio_text';\n    _route = 'callback';\n    callback_data = 'audio_last';\n  } else if (text.startsWith('/help') || text.startsWith('/start') || text === '/help' || text === '/start') {\n    cmd = 'help';\n    _route = 'help';\n  } else if (text) {\n    const tokens = text.split(/\\s+/);\n    for (const tok of tokens) {\n      let m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?youtu\\.be\\/([0-9A-Za-z_-]{11})/);\n      if (m) { url = tok; cmd = 'fetch'; _route = 'fetch'; break; }\n      m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?youtube\\.com\\/(?:watch\\?v=|shorts\\/|embed\\/|v\\/)([0-9A-Za-z_-]{11})/);\n      if (m) { url = tok; cmd = 'fetch'; _route = 'fetch'; break; }\n      m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?rutube\\.ru\\/(?:video|play\\/embed)\\/([0-9a-f]{32})/i);\n      if (m) { url = tok; cmd = 'fetch'; _route = 'fetch'; break; }\n      m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?vk(?:video)?\\.(?:com|ru|net)\\/(?:video|clip|wall)-(-?\\d+_\\d+)/i);\n      if (m) { url = tok; cmd = 'fetch'; _route = 'fetch'; break; }\n      m = tok.match(/^https?:\\/\\/(?:[\\w-]+\\.)?youtube\\.com\\/(?:@[^\\/?#\\s]+|channel\\/[A-Za-z0-9_-]+|c\\/[A-Za-z0-9_-]+|user\\/[A-Za-z0-9_-]+)\\/?$/);\n      if (m) { url = tok; cmd = 'channel'; _route = 'channel'; break; }\n    }\n    if (cmd === 'help' && text.startsWith('http')) {\n      cmd = 'invalid';\n      _route = 'help';\n      error_msg = 'Эта ссылка не поддерживается. Пришли ссылку на YouTube/Rutube/VK видео.';\n    }\n  }\n  if (_route === 'fetch' && url) {\n    if (/youtu\\.be|youtube\\.com/.test(url)) ack_text = 'Понял, обрабатываю YouTube видео...';\n    else if (/rutube/.test(url)) ack_text = 'Понял, обрабатываю Rutube видео...';\n    else if (/vk/.test(url)) ack_text = 'Понял, обрабатываю VK видео... Это может занять 5-7 минут (транскрибация)...';\n    else ack_text = 'Понял, обрабатываю ссылку...';\n  }\n  _out.push({json: {user_id, chat_id, message_id, cmd, url, media, error_msg, raw: text, callback_id, callback_data, _route, ack_text}});\n}\nreturn _out;\n"},"id":"code_parse_cmd_v6_0_27_seen_update","name":"Code — Parse Command v6.0.27","type":"n8n-nodes-base.code","typeVersion":1,"position":[-200,200]}],"connections":{"webhook_yt_research":{"main":[[{"node":"Code — Parse Command v6.0.27","type":"main","index":0}]]},"SWITCH — Route by _route v6.0.21":{"main":[[{"node":"Code — Build ack msg v6.0.21","type":"main","index":0}],[{"node":"HTTP /youtube_channel_latest","type":"main","index":0}],[{"node":"HTTP /telegram_download","type":"main","index":0}],[{"node":"Code — Build callback payload v6.0.21","type":"main","index":0}],[{"node":"Code — Build help/error msg","type":"main","index":0}]]},"Code — Build ack msg v6.0.21":{"main":[[{"node":"IF needs_ack","type":"main","index":0},{"node":"Code — Pass through v6.0.21","type":"main","index":0}]]},"IF needs_ack":{"main":[[{"node":"HTTP /send_message (ack)","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /send_message (ack)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Pass through v6.0.21":{"main":[[{"node":"HTTP /process_url","type":"main","index":0}]]},"HTTP /process_url":{"main":[[{"node":"HTTP /user_profile","type":"main","index":0}]]},"HTTP /user_profile":{"main":[[{"node":"Code — Build YandexGPT payload","type":"main","index":0}]]},"Code — Build YandexGPT payload":{"main":[[{"node":"HTTP /yagpt_summarize (chunking внутри)","type":"main","index":0}]]},"HTTP /yagpt_summarize (chunking внутри)":{"main":[[{"node":"HTTP /comments_analyze","type":"main","index":0}]]},"HTTP /comments_analyze":{"main":[[{"node":"Code — Build Digest","type":"main","index":0}]]},"Code — Build Digest":{"main":[[{"node":"HTTP /render_digest","type":"main","index":0}],[{"node":"HTTP /kb_save","type":"main","index":0}]]},"HTTP /render_digest":{"main":[[{"node":"HTTP /send_document","type":"main","index":0}]]},"HTTP /kb_save":{"main":[[{"node":"HTTP /send_message (TL;DR)","type":"main","index":0}]]},"HTTP /send_document":{"main":[[{"node":"HTTP /send_message (TL;DR)","type":"main","index":0}]]},"HTTP /send_message (TL;DR)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /youtube_channel_latest":{"main":[[{"node":"Code — Use channel result","type":"main","index":0}]]},"Code — Use channel result":{"main":[[{"node":"HTTP /process_url","type":"main","index":0}],[{"node":"HTTP /send_message (channel notice)","type":"main","index":0}]]},"HTTP /send_message (channel notice)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /telegram_download":{"main":[[{"node":"Code — Build media notice","type":"main","index":0}]]},"Code — Build media notice":{"main":[[{"node":"HTTP /send_message (media notice)","type":"main","index":0}]]},"HTTP /send_message (media notice)":{"main":[[{"node":"IF media_empty","type":"main","index":0}]]},"IF media_empty":{"main":[[{"node":"HTTP /transcribe","type":"main","index":0}],[{"node":"Code — Media empty handler","type":"main","index":0}]]},"HTTP /transcribe":{"main":[[{"node":"Code — Build media YandexGPT payload","type":"main","index":0}]]},"Code — Build media YandexGPT payload":{"main":[[{"node":"HTTP /yagpt_summarize (chunking внутри)","type":"main","index":0}]]},"Code — Media empty handler":{"main":[[{"node":"HTTP /send_message (media empty)","type":"main","index":0}]]},"HTTP /send_message (media empty)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Build callback payload v6.0.21":{"main":[[{"node":"SWITCH — Route callback v6.0.23","type":"main","index":0}]]},"HTTP /handle_callback":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Build help/error msg":{"main":[[{"node":"HTTP /send_message (help)","type":"main","index":0}]]},"HTTP /send_message (help)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /send_message (error)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Build help topic v6.0.23":{"main":[[{"node":"HTTP /send_message (help topic)","type":"main","index":0}]]},"HTTP /user_stats (callback)":{"main":[[{"node":"Code — Format callback result v6.0.23","type":"main","index":0}]]},"HTTP /digests_recent (callback)":{"main":[[{"node":"Code — Format callback result v6.0.23","type":"main","index":0}]]},"HTTP /actions_recent (callback)":{"main":[[{"node":"Code — Format callback result v6.0.23","type":"main","index":0}]]},"Code — Format callback result v6.0.23":{"main":[[{"node":"HTTP /send_message (callback result)","type":"main","index":0}]]},"HTTP /send_message (callback result)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP /send_message (help topic)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Close menu v6.0.21":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"SWITCH — Route callback v6.0.23":{"main":[[{"node":"HTTP /user_stats (callback)","type":"main","index":0}],[{"node":"HTTP /digests_recent (callback)","type":"main","index":0}],[{"node":"HTTP /actions_recent (callback)","type":"main","index":0}],[{"node":"Code — Close menu v6.0.21","type":"main","index":0}],[{"node":"Code — Build help topic v6.0.23","type":"main","index":0}],[{"node":"Code — Find last digest v6.0.26","type":"main","index":0}]]},"Code — Build Digest v6.0.21":{},"Code — Find last digest v6.0.26":{"main":[[{"node":"HTTP /digests_recent (last)","type":"main","index":0}]]},"HTTP /digests_recent (last)":{"main":[[{"node":"Code — Build audio from last v6.0.26","type":"main","index":0}]]},"Code — Build audio from last v6.0.26":{"main":[[{"node":"HTTP /audio_digest (last)","type":"main","index":0}]]},"HTTP /audio_digest (last)":{"main":[[{"node":"HTTP /send_audio (last)","type":"main","index":0}]]},"HTTP /send_audio (last)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code — Parse Command v6.0.27":{"main":[[{"node":"SWITCH — Route by _route v6.0.21","type":"main","index":0}]]}},"authors":"Admin Admin","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-23T08:29:56.725Z","id":564,"workflowId":"VGVepaHqmjg2PXSj","versionId":"932bc6e2-c432-471b-a5f3-3e18f12c4266","event":"deactivated","userId":"0b8df60b-b605-4e5b-86ea-cd1a34ecd73d"},{"createdAt":"2026-06-23T08:29:56.759Z","id":565,"workflowId":"VGVepaHqmjg2PXSj","versionId":"932bc6e2-c432-471b-a5f3-3e18f12c4266","event":"activated","userId":"0b8df60b-b605-4e5b-86ea-cd1a34ecd73d"}]}}